body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#expense-form {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
}
.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.expense-item button {
    margin-left: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 1px solid #dee2e6;
    padding: 8px;
    background-color: #adb5bd;
    color: #fff;
}
td {
    border: 1px solid #dee2e6;
    padding: 8px;
    background-color: #fff;
}
#total {
    background-color: #d4edda;
}
.btn{
    margin:5px;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}